@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

body, html{
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.parrafo-ancla{
  color:#f18226fc ;
  border-color: #fd6a0d;
}

.negrita{
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  }

.form-control {
  border-radius: 10px !important;
}  

#defaultCheck1{
  background-color:#f18226fc ;
  border-color: #fd6a0d;
}

.custom-button {
  background-color: #f18226fc; 
  color: #141414; 
  border: none; 
  padding: 10px 30px; 
  border-radius: 10px; 
  font-size: 16px; 
  font-weight: 700; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.custom-button:hover {
  background-color: #fd6a0d; 
}

.color{
  color: rgb(163, 150, 150);
}

.section-left {
  background: url('login-fondo.jpg') no-repeat center center; 
  background-size: cover; 
  height: 100%;
  position: relative; 
  color: #fff; 
  padding: 2rem; 
}

.logo-top-left {
  position: absolute;
  top: 20px;
  left: 20px; 
  width: 110px; 
}

.container-fluid {
  margin: 0; 
  padding: 0 !important;
  width: 100%;
}

a:hover{
  cursor: pointer;
}

.flecha {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: white;
  cursor: pointer;  
  z-index: 10;  
}


@media(max-width: 900px){
  .form-check {
    flex-direction: row;
    align-items: start;
    gap: 15px;
  }

  .espacio-res {
    width: 100%;
    text-align: right;
  }

  .parrafo-bienvenida,
  .form-control,
  .label,
  .parrafo-ancla{
    font-size: 15px;
  }
}

@media(max-width: 399px){

  .negrita{
    font-size: 23px;
  }

  .parrafo-bienvenida,
  .form-control,
  .label,
  .parrafo-ancla{
    font-size: 13px;
  }
}

@media(max-width: 363px){

  .form-check {
    flex-direction: row;
    align-items: start;
    gap: 10px;
  }

  .espacio-res {
    width: 100%;
    text-align: right;
  }
}